[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9.git
[submodule "bundle/Syntastic"]
	path = bundle/Syntastic
	url = https://github.com/vim-scripts/Syntastic.git
[submodule "bundle/Tabular"]
	path = bundle/Tabular
	url = https://github.com/vim-scripts/Tabular.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/specky"]
	path = bundle/specky
	url = https://github.com/vim-scripts/Specky.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = https://github.com/tpope/vim-git.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/Dockerfile"]
	path = bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/vim-wakatime"]
	path = bundle/vim-wakatime
	url = https://github.com/wakatime/vim-wakatime.git
[submodule "bundle/vim-terraform"]
	path = bundle/vim-terraform
	url = https://github.com/markcornick/vim-terraform.git
[submodule "bundle/vim-classpath"]
	path = bundle/vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "bundle/vim-salve"]
	path = bundle/vim-salve
	url = https://github.com/tpope/vim-salve.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "bundle/logstash.vim"]
	path = bundle/logstash.vim
	url = https://github.com/robbles/logstash.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/marijnh/tern_for_vim.git
[submodule "bundle/vim-erlang-runtime"]
	path = bundle/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = https://github.com/vim-erlang/vim-erlang-compiler.git
[submodule "bundle/vim-erlang-omnicomplete"]
	path = bundle/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule "bundle/vim-erlang-tags"]
	path = bundle/vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/gundo-vim"]
	path = bundle/gundo-vim
	url = http://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-gradle"]
	path = bundle/vim-gradle
	url = https://github.com/tfnico/vim-gradle.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule "bundle/vim-yaml"]
	path = bundle/vim-yaml
	url = https://github.com/stephpy/vim-yaml.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
